// Font Size

$font-12: 0.875rem; // 12 px
$font-14: 0.875rem; // 14 px
$font-16: 1rem; // 16 px
$font-18: 1.125rem; // 18 px
$font-20: 1.25rem; // 20 px
$font-26: 1.65rem; // 26 px
$font-30: 1.875rem; // 30 px
$font-32: 2rem; // 32 px
$font-40: 2.5rem; // 40 px
$font-70: 4.375rem; // 70 px
$font-80: 5rem; // 80 px
